@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; padding: 0; margin: 0; }

html { scroll-behavior: auto !important; }

body { background: #000000; margin: 0; padding: 0; font-family: 'Roboto'; font-style: normal; font-size: 14px; color: #FFFFFF; line-height: normal; font-weight: 400; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

textarea { resize: none; }

h1, h2, h3, h4, h5, h6, p { margin: 0; }

ul li { list-style: none; }

body.open_nav { overflow: hidden; }

.main_wrap { overflow: hidden; }



.main_header.fixed_wrap { background: #000000; }
.main_header .header_wrap .ferien-header-block .ferien-header-nav.slide { @apply translate-x-0 }
.main_header .header_wrap .ferien-header-block .ferien-header-nav ul li a { @apply lg:text-lg text-extralightgray leading-[1.23] tracking-[0.05em] block lg:my-[30px] uppercase relative no-underline after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:transition-all after:duration-[0.4s] after:ease-in-out after:scale-0 after:border-b-2 after:border-solid after:border-extralightgray lg:hover:after:scale-100 text-[22px] my-[10px] }
.main_header .header_wrap .ferien-header-block .ferien-header-nav ul li.active a::after { @apply scale-100; }
.main_header .header_wrap .ferien-header-block .menu-btn { @apply relative lg:hidden flex items-center z-[1111] }
.main_header .header_wrap .ferien-header-block .menu-btn .toggle-btn { @apply relative flex w-[24px] h-[18px] items-center justify-center }
.main_header .header_wrap .ferien-header-block .menu-btn .toggle-btn span { @apply relative block w-[24px] h-[2px] bg-lightBlack duration-[0.3s] delay-[0.1s] after:content-[''] after:absolute after:left-0 after:right-0 after:bottom-[-9px] after:bg-lightBlack after:w-[24px] after:h-[2px] after:duration-[0.3s] after:delay-[0.1s] before:content-[''] before:absolute before:left-0 before:right-0 before:top-[-9px] before:w-[24px] before:h-[2px] before:bg-lightBlack before:duration-[0.3s] before:delay-[0.1s] }
.main_header .header_wrap .ferien-header-block .menu-btn .toggle-btn.active span { @apply after:bottom-0 after:rotate-45 before:top-0 before:-rotate-45 bg-transparent }
.main_header.fixed_wrap .header_wrap .ferien-header-block .menu-btn .toggle-btn span { @apply bg-extralightgray after:bg-extralightgray before:bg-extralightgray }
.main_header.fixed_wrap .header_wrap .ferien-header-block .menu-btn .toggle-btn.active span { @apply bg-transparent }


.banner_wrapper .bnr_wrap .imgbox { @apply after:content-[''] after:absolute 2xl:after:-top-[155px] 2xl:after:-left-[205px] after:h-[368px] after:w-[514px] after:bg-black after:-rotate-45 xl:after:-top-[280px] xl:after:-left-[205px] lg:after:-top-[210px] lg:after:-left-[290px] md:after:-top-[360px] md:after:-left-[205px] after:-top-[360px] after:-left-[205px] before:content-[''] before:absolute 2xl:before:-right-[76px] 2xl:before:-bottom-[27px] before:h-[120px] before:w-[220px] before:bg-black before:-rotate-45 xl:before:-right-[100px] xl:before:-bottom-[27px] lg:before:-right-[100px] lg:before:-bottom-[50px] lg:before:block md:before:hidden before:hidden }
.banner_wrapper .bnr_wrap .imgbox .bnr_btn { @apply absolute xl:right-[182px] xl:bottom-[40px] lg:right-[150px] lg:bottom-[50px] lg:block lg:w-auto right-auto bottom-[50px] flex justify-center w-full }
.banner_wrapper .bnr_wrap .imgbox .bnr_btn a { @apply text-[18px] text-white leading-[1.23] tracking-[0.05em] block md:pt-[18px] md:pb-[14px] md:pl-[20px] md:pr-[20px] p-[12px] uppercase border border-solid border-white transition-all duration-[0.4s] ease-in-out hover:bg-extralightgray }


.holiday_section p { @apply 2xl:text-p lg:text-[20px] lg:leading-normal md:text-[18px] text-[16px] leading-normal md:leading-normal tracking-[0.05em] text-lightBlack }
.word_wrap .word { transition: transform 0.6s ease; transform: translateY(100%); opacity: 0; }
.word_wrap.visible .word { animation: splash .5s forwards ease-in-out; }
@keyframes splash { 
	from { transform: translateY(100%); opacity: 0; } 
   
	to { transform: translateY(0%); opacity: 1; } 
}


.dream .dream_imgbox { @apply 2xl:max-w-[1149px] xl:max-w-[1000px] xl:w-auto lg:w-full md:w-full  relative after:content-[''] after:absolute after:-left-[117px] 2xl:after:-top-[114px] after:bg-black after:w-[233px] after:h-[230px] after:-rotate-45 xl:after:-top-[170px] lg:after:-top-[114px] md:after:-top-[114px] md:after:block after:hidden }
.dream .dream_detailbox { @apply 2xl:max-w-[860px] xl:max-w-[585px] lg:max-w-[860px] bg-extralightWhite relative 2xl:-ml-[82px] xl:-ml-[20px] xl:mt-0 lg:ml-0 lg:-mt-[55px] m-0 after:content-[''] after:absolute after:-right-[58px] after:-bottom-[24px] after:bg-black after:w-[167px] after:h-[90px] after:-rotate-45 md:after:block after:hidden }
.dream .dream_detailbox .dream_text p { @apply 2xl:text-[20px] leading-[1.8] tracking-[0.05em] text-lightBlack 2xl:pb-[28px] xl:text-[18px] xl:leading-[1.6] xl:pb-[26px] lg:text-[18px] lg:leading-[1.5] lg:pb-[18px] md:text-[16px] md:leading-[1.5] md:pb-[16px] text-[16px] pb-[16px] }	
.dream .dream_detailbox .dream_text .dream_btn a { @apply block text-extralightgray lg:text-[20px] md:text-[18px] text-[16px] tracking-[0.05em] leading-[1.38] border border-solid border-extralightgray px-[20px] py-[10px] transition-all duration-[0.4s] ease-in-out hover:bg-white }


.teaser_section { @apply relative transition-all duration-[0.4s] ease-in-out 2xl:hover:translate-y-[85px] xl:hover:translate-y-[50px] after:content-[''] after:absolute after:w-full after:h-[409px] after:bottom-0 after:left-0 after:opacity-[0.23] after:bg-gradient-linear }
.teaser_section .teasure_btn a { @apply text-white text-[20px] tracking-[0.05em] leading-[1.38] border border-solid border-white 2xl:px-[20px] 2xl:py-[10px] transition-all duration-[0.4s] ease-in-out block uppercase hover:bg-extralightgray xl:px-[15px] xl:py-[10px] }
.teaser_section:hover .teasure_btn { @apply opacity-100 visible }